@import "./Body.scss";

.Card {
  margin-top: 3rem;
  box-shadow: 0 0 0.5px 1px #ccc;
  background: #fff;
  width: 100%;
  border-radius: 5px;
}
.Post .Container {
  display: flex;
  flex-direction: column;
}
.PF_HP {
  @include PFImg;
  border: 5px double;
  border-color: var(--border-Bfr-Watch);
  width: 65px;
  height: 65px;
}
.PF_card {
  display: flex;
  padding: 1rem;
  align-items: center;

  text-decoration-line: none;
  color: #333;
  p,
  span {
    margin-left: 1rem;
  }
  p {
    font-weight: 700;
  }
}

.Description {
  padding: 1rem;
  .Icon {
    display: flex;
    justify-content: space-between;
    a {
      color: #333;
      cursor: pointer;
    }
  }
  .Likes {
    padding: 0.5rem 0.5rem;
    font-weight: 700;
  }
  .Heart {
    &:active {
      color: red;
    }
  }
  sub b {
    color: rgb(124, 118, 118);
  }
}
.CommentBox {
  input {
    width: 90%;
    border: none;
    border-top: 1px solid #ccc;
    padding: 1rem;
    text-align: left;
  }
  button {
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: blueviolet;

    &:hover {
      cursor: pointer;
      color: blue;
    }
  }
}

.icon-comment {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  padding: 1rem;
  border-top: 1px solid #ccc;
  transition: background 0.3s;
  &:hover {
    background: #ccc;
  }
  /*animation-name: example;
  animation-duration: 4s;*/
}

/*@keyframes example {
  0% {
    transform: scaleX(0);
  }

  10% {
    transform: scaleX(1);
  }
}*/
.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
